@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #edf9eb; /* Fondo verde claro */
    margin: 0;
    padding: 0;
}
