{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portal Médico</title>
  <link rel="icon" href="{% static 'img/icon.jpeg' %}" />
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/medico.css' %}" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>

<body>
  <header class="custom-header text-center py-4">
    <h1>Admin</h1>
  </header>
  <div class="container text-center">
    <h2>Gestion de usuario</h2>
    <p>Bienvenido al panel de administrador.</p>
    <div class="row">
      <div class="col-sm-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Gestionar Médicos</h5>
                  <p class="card-text">Administra la información de los médicos.</p>
                  <a href="{% url 'gestionar_med' %}" class="btn btn-success">Ir a Médicos</a>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Gestionar Secretarias</h5>
                  <p class="card-text">Administra la información de las secretarias.</p>
                  <a href="{% url 'gestionar_sec' %}" class="btn btn-success">Ir a Secretarias</a>
              </div>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Gestionar Pacientes</h5>
                  <p class="card-text">Administra la información de los pacientes.</p>
                  <a href="{% url 'gestionar_pac' %}" class="btn btn-success">Ir a Pacientes</a>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>