{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portal Médico</title>
  <link rel="icon" href="{% static 'img/icon.jpeg' %}" />
  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/medico.css' %}" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>

<body>
  <header class="custom-header text-center py-4">
    <h1>Paciente</h1>
  </header>
  <div class="container text-center">
    <h2>Opciones</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agendar Hora</h5>
                    <p class="card-text">Aquí puedes agendar una hora.</p>
                    <a href="{% url 'hora' %}" class="btn btn-success">Agendar Hora</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ver Horas</h5>
                    <p class="card-text">Aquí puedes ver las horas agendadas.</p>
                    <a href="{% url 'gestionarHoras' %}" class="btn btn-success">Ver Horas</a>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>

</html>